In [5]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, matplotlib
from pprint import pprint as print
from sqlalchemy import create_engine
import hvplot.pandas

pd.options.plotting.backend = 'holoviews'
matplotlib.style.use("seaborn-whitegrid")
pd.set_option("display.width", 5000)
pd.set_option("display.max_columns", 60)
plt.rcParams["figure.figsize"] = (15, 10)

%config InlineBackend.figure_format = 'retina'

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import warnings
warnings.simplefilter('ignore')
pd.set_option('display.float_format', lambda x: '%.3f' % x)

cred = {"host": 'localhost', 'dbname': 'yukontaf', 'user': 'glebsokolov', 'password': ''}
 
con = create_engine(
    f'postgresql://{cred["user"]}:{cred["password"]}@{cred["host"]}/{cred["dbname"]}'
)
def select(sql):
    return pd.read_sql(sql, con)

In [10]:
sql = 'select * from credit_score'
select(sql).to_csv('credit_score.csv')

In [6]:
df = pd.read_csv('/Users/glebsokolov/Downloads/data and instructions/Datasources/chapter 2/superstore.csv')
df.head()

          Category             City Country.Region    Customer.Name  Discount..bin. Manufacturer  Order.Date        Order.ID  Postal.Code                                       Product.Name        Promo Region    Segment   Ship.Date       Ship.Mode       State  Discount   Profit  Quantity   Sales
0        Furniture        Henderson  United States      Claire Gute           0.000         Bush  08/11/2019  CA-2019-152156    42420.000                  Bush Somerset Collection Bookcase    Bookcases  South   Consumer  11/11/2019    Second Class    Kentucky     0.000   41.914         2 261.960
1        Furniture        Henderson  United States      Claire Gute           0.000          Hon  08/11/2019  CA-2019-152156    42420.000  Hon Deluxe Fabric Upholstered Stacking Chairs,...       Chairs  South   Consumer  11/11/2019    Second Class    Kentucky     0.000  219.582         3 731.940
2  Office Supplies      Los Angeles  United States  Darrin Van Huff           0.000    Universal  12/06/2019  CA-2019-138688    90036.000  Self-Adhesive Address Labels for Typewriters b...       Labels   West  Corporate  16/06/2019    Second Class  California     0.000    6.871         2  14.620
3        Furniture  Fort Lauderdale  United States   Sean O'Donnell           0.800     Bretford  11/10/2018  US-2018-108966    33311.000      Bretford CR4500 Series Slim Rectangular Table  After promo  South   Consumer  18/10/2018  Standard Class     Florida     0.421 -383.031         5 957.577
4  Office Supplies  Fort Lauderdale  United States   Sean O'Donnell           0.300        Eldon  11/10/2018  US-2018-108966    33311.000                     Eldon Fold 'N Roll Cart System      Storage  South   Consumer  18/10/2018  Standard Class     Florida     0.260    2.516         2  22.368

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        9994 non-null   object
 1   City            9994 non-null   object
 2   Country.Region  9994 non-null   object
 3   Customer.Name   9994 non-null   object
 4   Discount..bin.  9994 non-null   float64
 5   Manufacturer    9994 non-null   object
 6   Order.Date      9994 non-null   object
 7   Order.ID        9994 non-null   object
 8   Postal.Code     9983 non-null   float64
 9   Product.Name    9994 non-null   object
 10  Promo           9994 non-null   object
 11  Region          9994 non-null   object
 12  Segment         9994 non-null   object
 13  Ship.Date       9994 non-null   object
 14  Ship.Mode       9994 non-null   object
 15  State           9994 non-null   object
 16  Discount        9994 non-null   float64
 17  Profit          9994 non-null   float64
 18  Quantity        9994 non-null   int64
 19  Sales           9994 non-null   float64
dtypes: float64(5), int64(1), object(14)
memory usage: 1.5+ MB

In [8]:
df.describe()

       Discount..bin.  Postal.Code  Discount    Profit  Quantity     Sales
count        9994.000     9983.000  9994.000  9994.000  9994.000  9994.000
mean            0.261    55245.233     0.169    28.657     3.790   229.858
std             0.378    32038.716     0.202   234.260     2.225   623.245
min             0.000     1040.000     0.000 -6599.978     1.000     0.444
25%             0.000    23223.000     0.007     1.729     2.000    17.280
50%             0.300    57103.000     0.108     8.666     3.000    54.490
75%             0.300    90008.000     0.237    29.364     5.000   209.940
max             1.500    99301.000     0.903  8399.976    14.000 22638.480

In [53]:
path = '/Users/glebsokolov/yukontaf.github.io/index.html'

with open(path, 'rb') as f:
    lines = list(f)
    lines.insert(6, b' <link rel="icon" href="icon.png">\n')
with open(path, 'wb') as f:
    f.write(b''.join(lines))